NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key
SUPABASE_SERVICE_ROLE_KEY=tu-service-role-key

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=tu-cloud-name
CLOUDINARY_API_KEY=tu-api-key
CLOUDINARY_API_SECRET=tu-api-secret
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=evenser_uploads


MP_ACCESS_TOKEN=TEST-752
NEXT_PUBLIC_MP_PUBLIC_KEY=TEST-9a


NEXT_PUBLIC_APP_URL=https://evenser.vercel.app
MP_TEST_PAYER_EMAIL=TESTUSER1398XXXXX@testuser.com


NEXT_PUBLIC_VAPID_PUBLIC_KEY=<tu_public_key>
VAPID_PRIVATE_KEY=<tu_private_key>
VAPID_EMAIL=mailto:tu@email.com